include .gitignore
include .gitmodules
include HISTORY.rst
include LICENCE
include MANIFEST.in
include Makefile
include README.rst
include distribute_setup.py
include docs/Makefile
include docs/_build/html
include docs/api.rst
include docs/conf.py
include docs/history.rst
include docs/index.rst
include docs/make.bat
include docs/overview.rst
include setup.py
include skeleton/__init__.py
include skeleton/core.py
include skeleton/examples/__init__.py
include skeleton/examples/basic-module/README.rst
include skeleton/examples/basic-module/setup.py_tmpl
include skeleton/examples/basic-module/{module_name}.py
include skeleton/examples/basic-package/MANIFEST.in
include skeleton/examples/basic-package/README.rst
include skeleton/examples/basic-package/distribute_setup.py
include skeleton/examples/basic-package/setup.py_tmpl
include skeleton/examples/basicpackage.py
include skeleton/examples/licenses.py
include skeleton/examples/licenses/bsd/LICENSE_tmpl
include skeleton/examples/licenses/gpl/COPYING
include skeleton/examples/licenses/gpl/LICENSE_tmpl
include skeleton/examples/licenses/lgpl/COPYING
include skeleton/examples/licenses/lgpl/COPYING.LESSER
include skeleton/examples/licenses/lgpl/LICENSE_tmpl
include skeleton/examples/licenses/no-license/LICENSE_tmpl
include skeleton/examples/mkmodule.py
include skeleton/tests/__init__.py
include skeleton/tests/skeletons/dynamic-content/bar/baz.txt_tmpl
include skeleton/tests/skeletons/dynamic-content/foo.txt
include skeleton/tests/skeletons/dynamic-file-name/bar/{baz}.txt
include skeleton/tests/skeletons/dynamic-file-name/foo.txt
include skeleton/tests/skeletons/required/bar/empty
include skeleton/tests/skeletons/required/{file_name}.txt
include skeleton/tests/skeletons/static/bar/baz.txt
include skeleton/tests/skeletons/static/foo.txt
include skeleton/tests/test_core.py
include skeleton/tests/test_examples.py
include skeleton/tests/test_utils.py
include skeleton/tests/utils.py
include skeleton/utils.py
